@using Microsoft.AspNetCore.Identity;
@using dnd_manager_webapplication.Models
@model IEnumerable<Character>
@inject SignInManager<SiteUser> SignInManager
@inject UserManager<SiteUser> UserManager

<h1>Manage your Party!</h1>

<table>
    <tr>
        <th>Picture</th>
        <th>Name</th>
        <th>Level</th>
        <th>Race</th>
        <th>Class</th>
        <th>Description</th>
        <th>Actions</th>
    </tr>
    @foreach(var item in Model){
        @:<tr>
        @: <td><img height="100" src="@Url.Action("GetImage", "Party", new {id = item.Id})"/></td>
        @: <td>@item.Name</td>
        @: <td>@item.Level</td>
        @: <td>@item.Race</td>
        @: <td>@item.Class</td>
        @: <td>@item.Description</td>
        @: <td>  
        @:    @if(item.OwnerId == UserManager.GetUserId(User))
        {
                <a href="/party/levelup?name=@item.Name">Level Up</a>
                <a href="/party/update?name=@item.Name">Modify</a>
                <a href="/party/delete?name=@item.Name">Death</a>
        }
        @: </td>
        @: </tr>
    }
</table>
